<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
        <!-- my custom Bootstrap -->
        <link href="/css/style.css" rel="stylesheet">
        <!-- font awesome CDN -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


    <title>Nourrir Aline - Ajouter restaurant</title>
  </head>
  <body>
    
    <div class="cover-container d-flex flex-column">
      <!-- Header Navbar-->
      <%- include('../headerForm') %>

      
      <div class="container my-4 py-4" style="background-color: #fff;">
        <div class="row mb-5 mt-3">
            <div class="col-12">
                <h1 class="title text-primary h2 text-center">Ajouter un restaurant<br></h1>
            </div>
        </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-5">
                    <!-- find name avec autocomplete -->
                    <div class="form-group">
                        <label for="autocomplete">Rechercher</label>
                        <input type="text" id="autocomplete" class="form-control form-control-lg" name="autocomplete" placeholder="Tapper ici votre recherche">
                    </div>

                    <!-- <div id="details"></div> -->
                    
                    <!-- map -->
                    <div id="map" style="height: 300px;"></div>
                    <div id="infowindow-content">
                      <img src="" width="16" height="16" id="place-icon">
                      <span id="place-name" class="title"></span><br>
                      <span id="place-address"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-7">

                    <!-- debut du form -->
                    <form action="/form/add-place" method="POST">
                        <div class="form-group">
                            <label for="name">Nom du restaurant <span class="text-danger">*</span></label>
                            <input type="text" id="name" class="form-control" name="name" placeholder="ex: Café Ginger" required>
                        </div>

                        <div class="form-group">
                            <label for="address">Adresse <span class="text-danger">*</span></label>
                            <input id= "address" name="address" type="text" class="form-control" placeholder="ex: 123 rue Réaumur" required>
                        </div>
    
                        <div class="form-group">
                            <label for="city">Ville <span class="text-danger">*</span></label>
                            <input id="city" name="city" type="text" class="form-control"  placeholder="ex: Paris" required>
                        </div>
    
                        <div class="form-group">
                            <label for="zipcode">Code postale <span class="text-danger">*</span></label>
                            <input id="zipcode" name="zipcode" type="text" class="form-control" placeholder="75002" required>
                        </div>

                        <div class="form-group d-flex flex-row align-items-end">
                          <div>
                            <label for="placeImg">Photo</label>
                            <div id="myImage" class="border"><img id='placeImgSrc' src="https://res.cloudinary.com/alineconsigne/image/upload/v1597671122/website/placeholder-image_eoeppy.png" height="100" alt="Photo du point de vente"></div>
                          </div>
                          <div class="ml-2">
                            <a id="upload_widget" class="btn btn-sm btn-outline-primary">Changer la photo</a>
                            <input id="placeImgInput" name="placeImg" type="hidden" value="" />
                          </div>
                        </div>  

                        <!-- input with googlePlace LATITUDE -->
                        <div class="form-group">
                            <label for="place_lat">Latitude <span class="text-danger">*</span></label>
                            <input id="place_lat" type="text" class="form-control" name="place_lat" value="" placeholder="Lat." required>
                        </div>
                        <!-- input with googlePlace LONGITUDE -->
                        <div class="form-group">
                            <label for="place_lng">Longitude <span class="text-danger">*</span></label>
                            <input id="place_lng" type="text" class="form-control" name="place_lng" value="" placeholder="Long." required>
                        </div>
    
                        <div class="form-group">
                            <label for="phone">Téléphone</label>
                            <input id="phone" name="phone" type="text" class="form-control" placeholder="ex: +331 45 65 45 65">
                        </div>
    
                        <div class="form-group">
                            <label for="website">Site Internet</label>
                            <input id="website" name="website" type="text" class="form-control" placeholder="ex: https://exemple.com">
                        </div>
    
                        <div class="form-group">
                            <label for="opening">Horaires d'ouverture</label>
                            <div id="openingHours"><input id="opening" name="openingHours" type="text" class="form-control" value="" placeholder="Ouvert du lundi au samedi"></div>
                        </div>
                        
                        <!-- services -->
                        <div class="form-group">
                          <label for="services">Service de consigne proposé</label>
                          <select class="form-control custom-select" id="services" name="services" required>
                            <option>Produits conditionnés consignés</option>
                            <option>Contenants vides</option>
                          </select>
                        </div>
                        
                        <!-- produits -->
                        <div class="form-check pl-0">
                            <label for="products">Séléctionner les produits disponibles dans cet établissement</label>
                        <% if (products.length == 0) { %>
                          <div class="alert alert-warning">Vous n'avez pas encore enregistré de produits</div>
                        <% } else {
                            products.forEach(element => {
                              %>
                              <div class="checkbox">
                                <input name="products" type="checkbox" value="<%= element._id %>">
                                <img src="<%= element.imageUrl %>" class="mx-2" width="50" alt="<%= element.name %>">
                                <label><%= element.brand %> - <%= element.name %> (consigne : <%= element.refoundPrice %>&nbsp;€)</label>
                              </div>
                              <%
                            }); 
                          }
                          %>
                        </div>
                        

                        <!-- hidden input with googlePlace ID -->
                        <div class="form-group">
                            <input id="place_id" type="hidden" class="form-control" name="place_id" value="">
                        </div>
                        <!-- hidden input with network token -->
                        <div class="form-group">
                            <input id="networktoken" type="hidden" class="form-control" name="networktoken" value="<%= token %>">
                        </div>
                        <!-- hidden input with type -->
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="type" value="restaurant">
                        </div>
    
                        <button type="submit" class="btn btn-primary">Enregistrer ce restaurant</button>
                    </form>
                </div>
            </div> 
        </div>
        <%- include('../footer')%>
    </div>




    <!-- Cloudinary widget -->
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>  
    <script type="text/javascript">  
      var myWidget = cloudinary.createUploadWidget({
        cloudName: 'alineconsigne', 
        uploadPreset: 'ml_default',
        multiple: false, // multiples autorisés
        maxFiles: 1, // nombe max de photo
        }, (error, result) => { 
          if (!error && result && result.event === "success") { 
            var secureUrl = result.info.secure_url
            var myImage = document.getElementById("myImage")
            myImage.innerHTML = `<img src="${result.info.thumbnail_url}" alt="${result.info.public_id}">`
            document.getElementById("placeImgInput").value = result.info.secure_url
          }
        }
      )
      document.getElementById("upload_widget").addEventListener("click", function(){
          myWidget.open();
        }, false);
    </script>


    <!-- Custom JS code to bind to Autocomplete API -->
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 47.082590, lng: 2.399697},
            zoom: 5
            })
        var input = document.getElementById('autocomplete')
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);
        autocomplete.setComponentRestrictions({'country': 'FR'})
        autocomplete.setFields(
            ['place_id', 'geometry', 'name',  'opening_hours', 'photos', 'types', 'url', 'website', 'address_components', 'formatted_phone_number', 'icon', 'photos', 'address_component']);
        autocomplete.setTypes(['establishment'])    
        autocomplete.setOptions(true)

      var infowindow = new google.maps.InfoWindow();
      var infowindowContent = document.getElementById('infowindow-content');
      infowindow.setContent(infowindowContent);
      var marker = new google.maps.Marker({
        map: map,
        anchorPoint: new google.maps.Point(0, -29)
      });

      autocomplete.addListener('place_changed', function() {
        infowindow.close();
        marker.setVisible(false);
        var place = autocomplete.getPlace();
        if (!place.geometry) {
          // user didnt select prediction
          return;
        }
        // If the place has a geometry, then present it on a map.
        if (place.geometry.viewport) {
          map.fitBounds(place.geometry.viewport);
        } else {
          map.setCenter(place.geometry.location);
          map.setZoom(17);  // Why 17? Because it looks good.
        }
        marker.setPosition(place.geometry.location);
        marker.setVisible(true);

        var address = '';
        var tempAdress = []
        var city = ''
        var zipcode = ''
        if (place.address_components) {
          place.address_components.forEach(add => {
            if (add.types[0] === 'locality') {
                city = add.long_name
              } else if (add.types[0] === 'postal_code') {
                zipcode = add.long_name
              } else if ((add.types[0] === 'floor') || (add.types[0] === 'street_number') || (add.types[0] === 'route')) {
                tempAdress.push(add.long_name)
              }
          })
          address = tempAdress.join(' ')
        }

        document.getElementById('name').value = place.name
        document.getElementById('address').value = address
        document.getElementById('city').value = city
        document.getElementById('zipcode').value = zipcode
        document.getElementById('phone').value = place.formatted_phone_number
        document.getElementById('website').value = place.website
        document.getElementById('place_id').value = place.place_id
        var placeLat = place.geometry.location.lat()
        document.getElementById('place_lat').value = placeLat
        var placeLng = place.geometry.location.lng()
        document.getElementById('place_lng').value = placeLng
        
        var myphoto = place.photos[0].getUrl()
        document.getElementById('placeImgSrc').src = myphoto
        document.getElementById('placeImgInput').value = myphoto

        String.prototype.capitalize = function() {
          return this.charAt(0).toUpperCase() + this.slice(1);
        }
        
        var opening = place.opening_hours.weekday_text
        document.getElementById('openingHours').innerHTML = `<input name="openingHours" type="text" class="form-control" value="${opening[0].capitalize()}"><br />
                                                          <input name="openingHours" type="text" class="form-control" value="${opening[1].capitalize()}"><br />
                                                          <input name="openingHours" type="text" class="form-control" value="${opening[2].capitalize()}"><br />
                                                          <input name="openingHours" type="text" class="form-control" value="${opening[3].capitalize()}"><br />
                                                          <input name="openingHours" type="text" class="form-control" value="${opening[4].capitalize()}"><br />
                                                          <input name="openingHours" type="text" class="form-control" value="${opening[5].capitalize()}"><br />
                                                          <input name="openingHours" type="text" class="form-control" value="${opening[6].capitalize()}">`


        infowindowContent.children['place-icon'].src = place.icon;
        infowindowContent.children['place-name'].textContent = place.name;
        infowindowContent.children['place-address'].textContent = address;
        infowindow.open(map, marker);
      })
    }
  </script>
    <!-- Include Google Maps JS API -->
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=<%= googleApiKey%>&libraries=places&callback=initMap" defer>
    </script>

    
       
   <!-- BOOTSTRAP -->
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
   </body>
</html>