<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <!-- my custom Bootstrap -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- font awesome CDN -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


    <title>Nourrir Aline - Modifier un lieu de vente ou collecte</title>
</head>
<body>
    <div class="cover-container d-flex flex-column">
      <!-- Header Navbar-->
      <%- include('../headerForm') %>

        <div class="container">
            <div class="row">
                <div class="col-12">
                  <h1 class="title text-primary h3 text-center my-3">
                      Modifier un un lieu de vente ou collecte
                  </h1>
                </div>
                <div class="col-12 col-lg-6 offset-lg-3">
                  <div class="card">
                    <div class="card-body">
                      <form method="POST" action="/network/editproduct">

                        <div class="form-group">
                            <label for="type">Type de lieu</label><br />
                            <% if (editablePlace.type == 'restaurant') { %>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type" id="type" value="restaurant" checked>
                                    <label class="form-check-label big-label" for="type">Restaurant</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type" id="type2" value="shop">
                                    <label class="form-check-label big-label" for="type2">Magasin</label>
                                </div>
                            <% } else { %>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type" id="type" value="restaurant">
                                    <label class="form-check-label big-label" for="type">Restaurant</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type" id="type2" value="shop" checked>
                                    <label class="form-check-label big-label" for="type2">Magasin</label>
                                </div>
                            <% } %>
                        </div>

                        <div class="form-group edit-form mt-4 pt-3">
                            <label for="name">Nom</label>
                            <input id="name" name="name" type="text" value="<%=editablePlace.name%>">
                        </div>

                        <div class="form-group edit-form mt-4 pt-3">
                            <label for="adress">Adresse</label>
                            <input id="adress" name="adress" type="text" value="<%=editablePlace.adress%>">
                        </div>

                        <div class="form-group edit-form mt-4 pt-3">
                            <label for="city">Ville</label>
                            <input id="city" name="city" type="text" value="<%=editablePlace.city%>">
                        </div>


                        <div class="form-group edit-form mt-4 pt-3">
                            <label for="phone">Téléphone</label>
                            <input id="phone" name="phone" type="text" value="<%=editablePlace.phone%>">
                        </div>

                        <div class="form-group edit-form mt-4 pt-3">
                            <label for="webSite">Site Internet</label>
                            <input id="webSite" name="webSite" type="text" value="<%=editablePlace.webSite%>">
                        </div>
    
                        <div class="form-group edit-form mt-4 pt-3 d-flex flex-row align-items-end">
                          <div>
                            <label for="">Photo</label>
                            <div id='myImage' class="border"><img src="<%=editablePlace.placeImg%>" height="100" alt="Photo du point de vente"></div>
                          </div>
                          <div class="ml-2">
                            <a id="upload_widget" class="btn btn-sm btn-outline-primary">Changer la photo</a>
                            <input id="placeImg" name="placeImg" type="hidden" value="<%=editablePlace.placeImg%>" />
                          </div>
                        </div>    
    
                        <div class="form-group edit-form mt-4 pt-3">
                            <label for="latitude">Latitude</label>
                            <input id="latitude" name="latitude" type="text" value="<%=editablePlace.latitude%>">
                        </div>
    
                        <div class="form-group edit-form mt-4 pt-3">
                            <label for="longitude">Longitude</label>
                            <input id="longitude" name="longitude" type="text" value="<%=editablePlace.longitude%>">
                        </div>
    
                        <div class="form-group edit-form mt-4 pt-3">
                            <label for="openingHours">Horaires d'ouverture</label>
                            <input id="openingHours" name="openingHours" type="text" value="<%=editablePlace.openingHours%>">
                        </div>
    
                        <div class="form-group edit-form mt-4 pt-3">
                            <label for="services">Services proposés</label>
                            <input id="services" name="services" type="text" value=<%=editablePlace.services%> >
                        </div>

                        <!-- produits -->
                        <div class="form-group pl-0  mt-4 pt-3">
                            <label for="products">Produits disponibles dans cet établissement</label>
                            <% if (products.length == 0) { %>
                                <div class="alert alert-warning">Vous n'avez pas encore enregistré de produits</div>
                            <% } else {
                                products.forEach(product => { %>
                                <div class="checkbox">
                                    <input name="products" type="checkbox" data-name="products" data-value="<%= product._id %>" value="<%= product._id %>" />
                                    <img src="<%= product.imageUrl %>" class="mx-2" width="50" alt="<%= product.name %>" />
                                    <label><%= product.brand %> - <%= product.name %> (consigne : <%= product.refoundPrice %>&nbsp;€)</label>
                                </div>
                                <% }) %>
                            <% } %>
                        </div>

                        <!-- invisible input for place id -->
                        <input id="placeid" name="placeid" type="hidden" value='<%=editablePlace._id%>' />

                        <!-- invisible input for google id -->
                        <input id="google_place_id" name="google_place_id" type="hidden" value='<%=editablePlace.google_place_id%>' />

                        <!-- invisible input for network name -->
                        <input id="network" name="network" type="hidden" value='<%=editablePlace.network%>' />

                        <p class="text-center">
                          <button type="submit" class="btn btn-primary mt-4">Valider les modifications</button>
                        </p>

                      </form>
                    </div>
                  </div>
                  
            </div>
        

        </div>    
        
      <%- include('../footer')%>
    </div>

    


<!-- Cloudinary widget -->
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>  
<script type="text/javascript">  
  var myWidget = cloudinary.createUploadWidget({
    cloudName: 'alineconsigne', 
    uploadPreset: 'ml_default',
    multiple: false, // multiples autorisés
    maxFiles: 1, // nombe max de photo
    }, (error, result) => { 
      if (!error && result && result.event === "success") { 
        console.log('Done! Here is the image info: ', result.info); 
        var secureUrl = result.info.secure_url
        console.log(secureUrl)
        var myImage = document.getElementById("myImage")
        myImage.innerHTML = `<img src="${result.info.thumbnail_url}" alt="${result.info.public_id}">`
        document.getElementById("imgurl").value = result.info.secure_url
      }
    }
  )
  document.getElementById("upload_widget").addEventListener("click", function(){
      myWidget.open();
    }, false);
</script>




<!-- BOOTSTRAP -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script>
// check product already in this place
    // recupérer le tableau depuis ejs
    var products = '<%- JSON.stringify(editablePlace.products)%>'
    console.log(JSON.parse(products))
    // récupérer tous les input[checkbox]
    var array = $( '[data-name="products"]' )
    console.log(array)


</script>




  <script>
    $('[name="confirm-delete-btn"]').css("display", "none")
    const $deleteBtn = $( "[name='delete-btn']" )

    $deleteBtn.click(function( event ) {
      const id = $(this).data('id')
      console.log(id)
      $(`[data-id="${id}"][name="delete-btn"]`).css("display", "none")
      $(`[data-id="${id}"][name="confirm-delete-btn"]`).css("display", "block")
    })


  </script>

</body>
</html>
